{% extends 'web/base.html' %}

{% block title %}
Contacto
{% endblock %}

{% block header %}
Contacto
{% endblock %}

{% block content %}



<p>
Actualmente estoy aprendiendo desarrollo web con Django y Python.
Este sitio forma parte de mis prácticas y seguirá creciendo con nuevos proyectos. 
actualmente estoy estudiando la tecnicatura en desarrollo de software de la udc (universidad de chubut)
</p>

<h3>Tecnologías que estoy aprendiendo</h3>

<ul>
    <li>Python</li>
    <li>Django</li>
    <li>HTML y CSS</li>
    <li>Git y GitHub</li>
    <li>PostgreSQL</li>
</ul>

<h3>Contacto</h3>

<p>Email: chalosampini@hotmail.com</p>

<p>
GitHub:
<a href="https://github.com/chaloS67" target="_blank">
    chaloS67
</a>
</p>

{% endblock %}