{% extends 'web/base.html' %}

{% block title %}
Proyectos
{% endblock %}

{% block header %}
Proyectos
{% endblock %}

{% block content %}



<h2>Django</h2>

<div class="card">

    <h3>Mini sitio web con Django</h3>

    <p>
        Proyecto realizado para practicar vistas, templates reutilizables,
        archivos static y navegación en Django.
    </p>

</div>

<div class="card">
    <h3>Calculadora de francos axion</h3>
    <p>  
        Script realizado en Python para calcular francos  automatizando cálculos básicos
        utilizados en la organización de turnos.
    </p>
</div>

<div class="card">

    <h3>Sistema de templates</h3>

    <p>
        Implementación de herencia de plantillas utilizando base.html,
        blocks y layout reutilizable.
    </p>

</div>

<h2>Python</h2>

<div class="card">

    <h3>Prácticas de Python</h3>

    <p>
        Ejercicios utilizando funciones, estructuras de datos,
        modularización y programación orientada a objetos.
    </p>

</div>

<div class="card">

    <h3>Scripts y automatización</h3>

    <p>
        Desarrollo de pequeños scripts en Python para automatizar tareas
        y practicar lógica de programación.
    </p>

</div>

<h2>Próximos proyectos</h2>

<ul>
    <li>API REST con Django</li>
    <li>Sistema de tareas</li>
    <li>Aplicación con base de datos PostgreSQL</li>
</ul>

{% endblock %}